<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>cloud-three-code</contextName>
    <springProperty scope="context" name="app_name" source="spring.application.name" defaultValue="sysmonitor"/>
    <property name="LOG_PATH" value="/opt/logs/${app_name}"/>
    <property name="STDOUT_FORMAT" value="${STDOUT_FORMAT_VALUE:- STDOUTJSON}"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} %X{trace_id}  ${PID:- } [%t] [%-40.40logger{39}:%line] %m%n"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr([%t]){faint} %clr([%-40.40logger{39}:%line]){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!--输出到控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="STDOUTJSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service_name":"${app_name}"}</customFields>
            <jsonFactoryDecorator class="com.choice.driver.config.ChoiceJsonFactoryDecorator"/>

            <includeMdcKeyName>trace_id</includeMdcKeyName>
            <includeMdcKeyName>span_id</includeMdcKeyName>
            <includeMdcKeyName>tenant_id</includeMdcKeyName>
            <includeMdcKeyName>user_id</includeMdcKeyName>
            <includeMdcKeyName>store_id</includeMdcKeyName>
            <includeMdcKeyName>device_id</includeMdcKeyName>
            <includeMdcKeyName>operator_id</includeMdcKeyName>
            <includeMdcKeyName>err_code</includeMdcKeyName>
            <includeMdcKeyName>status</includeMdcKeyName>
            <includeMdcKeyName>order_id</includeMdcKeyName>
            <includeMdcKeyName>RT</includeMdcKeyName>
            <includeMdcKeyName>uri</includeMdcKeyName>
            <includeMdcKeyName>pid</includeMdcKeyName>
            <includeMdcKeyName>SCANFROM</includeMdcKeyName>
        </encoder>
    </appender>

    <!--FILE-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${app_name}-%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="${STDOUT_FORMAT}"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
